<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AtlasBoard</title>
    <meta name="viewport" content="width=device-width">

    <!--
    Deprecation message: d3 and rickshaw will eventually be removed from Atlasboard core.
    If your package needs them, it would need to provide them as dependency
    -->
    <link rel="stylesheet" href="bower_components/rickshaw/rickshaw.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="bower_components/gridster/dist/jquery.gridster.min.css" type="text/css" media="screen" />

    <link rel="stylesheet" href="stylesheets/normalize.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="stylesheets/helpers.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="screen" />

    <link rel="icon" type="image/png" href="images/favicon.png"/>
</head>
<body>

    <div id="disconnected">DISCONNECTED</div>
    <% if (dashboardConfig.title) { %>
        <h1><%= dashboardConfig.title %></h1>
    <% } %>

    <script>
        var grid_columns = <%=(dashboardConfig.layout.gridSize && dashboardConfig.layout.gridSize.columns || 6) %>;
        var grid_rows = <%=(dashboardConfig.layout.gridSize && dashboardConfig.layout.gridSize.rows || 4) %>;
    </script>

    <div id="main-container">
        <div id="widgets-container" class="gridster">
            <ul>
                <% dashboardConfig.layout.widgets.forEach(function (widget) { %>
                    <li data-row="<%= widget.row %>" data-col="<%= widget.col %>" data-sizex="<%= widget.width %>"
                        data-sizey="<%= widget.height %>" data-widget-id="<%= widget.widget %>"
                        data-event-id="<%=(dashboardName + '-' + widget.row + '-' + widget.col) %>"></li>
                <% }) %>
            </ul>
        </div>
    </div>

    <script src="build/vendor.js"></script>

    <!--
    Deprecation message: D3 and rickshaw will eventually be removed from Atlasboard core.
    If your package needs them, it would need to provide them as dependency
    -->
    <script src="bower_components/rickshaw/vendor/d3.v2.js"></script>
    <script src="bower_components/rickshaw/rickshaw.min.js"></script>

    <script src="socket.io/socket.io.js"></script>

    <script src="javascripts/application.js"></script>

    <script src="<%=dashboardName%>/js"></script>

</body>
</html>
